root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true

[{*.json,*.toml,*.properties,.editorconfig}]
indent_size = 2

[*.properties]
ij_properties_keep_blank_lines = true
ij_properties_spaces_around_key_value_delimiter = true
